@import "../variables";

@keyframes move {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  49% {
    transform: translateY(200%);
    opacity: 1;
  }
  50% {
    transform: translateY(200%);
    opacity: 0;
  }
  51% {
    transform: translateY(-200%);
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.svg-arrow-down {
  width: 100%;
  height: 100%;
  fill: $color-purple;

  animation-name: move;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-delay: 8s;
  animation-iteration-count: 4;
}
