@import "../variables";

.button {
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  padding: 0.94rem 1.8rem;
  border: 1px solid $color-purple;
  border-radius: 30px;
  background-color: transparent;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-purple;
    transform: translateY(-100%);
    transition: transform 360ms cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  &::before {
    opacity: 0.5;
  }

  &::after {
    transition-delay: 240ms;
  }

  &:hover::before,
  &:hover::after {
    transform: translateY(0);
  }

  @media (min-width: $breakpoint-extra-large) {
    padding: 1.125rem 1.8rem;
  }
}

.button__label {
  position: relative;
  color: $color-purple;
  font-family: $font-gilroy-bold;
  font-size: 1.125rem;
  line-height: 1.1;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  z-index: 1;

  &::before {
    content: attr(data-hover);
    position: absolute;
    top: 2px;
    left: -1px;
    width: calc(100% + 2px);
    height: 100%;
    color: $color-yellow;
    opacity: 0;
    transition: opacity 360ms linear;

    @media (min-width: $breakpoint-extra-large) {
      top: 3px;
    }
  }

  .button:hover &::before {
    opacity: 1;
  }

  @media (min-width: $breakpoint-extra-large) {
    font-size: 1.375rem;
    letter-spacing: 1.1px;
  }
}
