@import "../variables";
$breakpoint-card: 55rem;

.card {
  width: clamp(18rem, 75%, 47.5rem);
  margin-bottom: 4.375rem;
  background-color: $color-white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);

  @media (min-width: $breakpoint-large) {
    margin-bottom: 3rem;
  }

  @media (min-width: $breakpoint-extra-large) {
    margin-bottom: 2rem;
  }
}

.card__image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 52.6315789474%;
}

.card__image {
  position: absolute;
  width: 100%;
}

.card__content {
  padding: 0 10%;

  @media (min-width: 55rem) {
    display: flex;
    padding: 2.5rem 5% 1.25rem;
  }
}

.card__date-container {
  position: relative;
  margin: 0;
  padding: 0 0 1.25rem;

  @media (min-width: $breakpoint-card) {
    margin-right: 3.125rem;
  }
}

.card__date {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50%;
  width: 5rem;
  height: 5rem;
  padding: 0.4rem 0.25rem 0.4rem 0.75rem;
  border: 2px solid $color-black;
  box-sizing: border-box;
  background-color: $color-white;
  font-family: $font-gilroy-bold;
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 2;
  color: $color-black;

  @media (min-width: $breakpoint-card) {
    position: static;
    width: 7.5rem;
    height: 7.5rem;
    font-size: 1.375rem;
    line-height: 1.75;
    border-width: 4px;
  }
}

.card__text {
  margin: 0 0 1.125rem;
  font-family: $font-gilroy-bold;
  font-size: 1.375rem;
  letter-spacing: 0.033em;
  line-height: 1.8;
  color: $color-black;

  @media (min-width: $breakpoint-card) {
    font-size: 1.75rem;
    line-height: 1.65;
  }
}

.card__time {
  display: flex;
  align-items: center;
  margin: 0 0 0.625rem;
  font-family: $font-gilroy-bold;
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 2;
  color: $color-black;

  @media (min-width: $breakpoint-card) {
    font-size: 1.375rem;
    line-height: 1.75;
  }
}

.card__time-icon {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.75rem;

  @media (min-width: $breakpoint-card) {
    width: 1.875rem;
    height: 1.875rem;
  }
}

.card__details {
  display: none;
  font-family: $font-gilroy-regular;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  line-height: 2;
  color: $color-black;

  @media (min-width: $breakpoint-card) {
    display: block;
  }
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  padding: 5%;

  @media (min-width: $breakpoint-card) {
    position: relative;
    height: 1.25rem;
    padding: 0;
  }
}

.card__arrow {
  width: 1.875rem;
  height: 1.875rem;
  padding: 0.4rem;
  box-sizing: border-box;
  border: 1px solid $color-purple;
  border-radius: 50%;
  overflow: hidden;

  @media (min-width: $breakpoint-card) {
    position: absolute;
    right: 3%;
    bottom: 100%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.6rem;
  }
}
