@import "../variables";

.heading {
  margin: 0 0 1.25rem;
  font-family: $font-gilroy-bold;
  font-size: 2rem;
  line-height: 1.375;
  letter-spacing: 0.02em;
  color: $color-purple;
  text-align: center;

  @media (min-width: $breakpoint-large) {
    margin-bottom: 3.2rem;
  }

  @media (min-width: $breakpoint-extra-large) {
    margin-bottom: 5.375rem;
    font-size: 3.125rem;
    line-height: 1.4;
  }
}
