@import "./typography";

/* Typography */
$font-gilroy-regular: "Gilroy Regular", sans-serif;
$font-gilroy-bold: "Gilroy Bold", sans-serif;
$font-gilroy-lightitalic: "Gilroy Lightitalic", sans-serif;

/* Color palette */
$color-white: #ffffff;
$color-black: #000000;
$color-purple: #642fff;
$color-yellow: #fde140;
$color-orange: #f9c01e;

/* Breakpoints */
$breakpoint-small: 20em;
$breakpoint-medium: 23.4375em;
$breakpoint-large: 35em;
$breakpoint-extra-large: 80em;
