@import "variables";

:root {
  background-color: $color-white;
}

body {
  margin: 0;
  font-family: $font-gilroy-regular;
  color: $color-black;
  overflow-x: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3.125vw 0;
  background: linear-gradient(215.28deg, $color-yellow 0%, $color-orange 100%);

  @media (orientation: landscape) {
    background: linear-gradient(
      220.76deg,
      $color-yellow 0%,
      $color-orange 100%
    );
  }
}
