@font-face {
  font-family: "Gilroy Bold";
  font-display: auto;
  src: url("fonts/gilroy-bold.woff2") format("woff2"),
  url("fonts/gilroy-bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Lightitalic";
  font-display: auto;
  src: url("fonts/gilroy-lightitalic.woff2") format("woff2"),
  url("fonts/gilroy-lightitalic.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Regular";
  font-display: auto;
  src: url("fonts/gilroy-regular.woff2") format("woff2"),
  url("fonts/gilroy-regular.woff") format("woff");
}
